:root {
    --color-bg: #fff;
    --color-main: #000;
}




body{
    background-color: var(--color-bg);
    color: var(--color-main);
    max-width: 600px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    
}
.button_main {
    border: solid 0.2vw;
    background: var(--color-bg);
    color: var(--color-main);
    cursor: pointer;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    margin: 24px 0;
    padding: 12px 24px;
    transition: background 0.3s, color 0.3s;

}

.button_main:hover {
    background: var(--color-main);
    color: var(--color-bg);
}

.button_mode {
    background: #000;
    border: solid 2px #fff;
    border-radius: 50px;
    color: var(--color-bg);
    cursor: pointer;
    height: 50px;
    outline-width: 5px;
    position: relative;
    width: 100px;
    margin-top: 50px;

}

.icon {
    background-color: grey;
    border-radius: 50%;
    content: "";
    display: block;
    height: 30px;
    margin: 3px 6px;
    position: relative;
    transition: background-color 0.5s, transform 0.5s;
    width: 30px;
}

span {
    bottom: 100%;
    color: var(--color-main);
    left: 50%;
    padding: 6px 0;
    position: absolute;
    transform: translateX(-50%);
    width: 100%;
}


.mode--js{
    position: absolute;
      top: 25px;
      right: 50px;
      
}

      
.heading{
    margin-top: 50px;
}


/* DARK MODE */

body.dark {
    --color-bg: #000;
    --color-main: #fff;
    
}

body.dark .icon {
    background: yellow;
    transform: translateX(40px);

}

body.dark .icon::after {
    content: "";
    display: block;
    background-color: #000;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    position: absolute;
    top: 3px;
    left: -5px;
    
}